(
    distro_display: "name_model_arch",
    uptime_shorthand: "on",
    memory_percent: "on",
    memory_unit: "mib",
    package_managers: "tiny",
    shell_path: "off",
    shell_version: "on",
    cpu_brand: "on",
    cpu_speed: "on",
    cpu_cores: "logical",
    cpu_temp: "C",
    speed_shorthand: "on",
    refresh_rate: "on",
    gpu_type: "all",
    de_version: "on",
    disk_show: "/",
    disk_subtitle: "dir",
    disk_percent: "on",
    disk_display: "barinfo",
    battery_display: "barinfo",
    color_blocks: "███",
    ascii_distro: "auto",
    ascii_colors: "distro",
    custom_ascii_path: "",
)