[
    (label: "Titles", field: "titles"),
    (label: "Distro", field: "distro"),
    (label: "Model", field: "model"),
    (label: "Kernel", field: "kernel"),
    (label: "Uptime", field: "uptime"),
    (label: "Kernel", field: "kernel"),
    (label: "Packages", field: "packages"),
    (label: "Shell", field: "shell"),
    (label: "WM", field: "wm"),
    (label: "DE", field: "de"),
    (label: "WM theme", field: "wm_theme"),
    (label: "CPU", field: "cpu"),
    (label: "GPU", field: "gpu"),
    (label: "Memory", field: "memory"),
    (label: "Disk", field: "disk"),
    (label: "Resolution", field: "resolution"),
    (label: "Battery", field: "battery"),
    (label: "", field: "song"),
    (label: "", field: "colors"),
]
    