(
    show_titles: "on",
    show_os: "on",
    show_distro: "on",
    show_model: "on",
    show_uptime: "on",
    show_packages: "on",
    show_shell: "on",
    show_wm: "on",
    show_de: "on",
    show_wm_theme: "on",
    show_kernel: "on",
    show_cpu: "on",
    show_gpu: "on",
    show_memory: "on",
    show_song: "on",
    show_resolution: "on",
    show_theme: "on",
    show_disks: "on",
    show_battery: "on",
    show_terminal_colors: "on",
)